.container {
  display: flex;
  flex-direction: row;


  border: 1px solid rgb(175, 175, 175);
  border-radius: 0.4rem;
  overflow: hidden;
  height: 95vh;
}

.sidebar {
  width: 10%;
  border-right: 2px solid rgb(175, 175, 175);
  padding: 1rem;
  background-color: rgb(175, 175, 175);
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  list-style: none;
  padding-top: 1rem;
}


.sidebar a {
  text-decoration: none;
}


.navLink {
  display: flex;         /* Puts the icon and <span> in a row */
  align-items: center;   /* Aligns them vertically in the middle */
  gap: 10px;             /* Puts a 10px space between them */

  /* Your other link styles */
  text-decoration: none;
  color: #333;
  padding: 8px;
  border-radius: 4px;
}

/* Add a nice hover effect */
.navLink:hover {
  background-color: #eee;
}